---
import Layout from "../layouts/Layout.astro";
import kontakt from "../../content/kontakt.json";
---

<Layout title="Kontakt – André Behr">
  <section class="py-16">
    <p class="text-sm uppercase tracking-widest text-stone-400 mb-4">
      Kontakt
    </p>
    <h1 class="text-3xl font-semibold text-stone-800 mb-8">
     {kontakt.header}
    </h1>
    <div class="max-w-xl text-stone-600 leading-relaxed space-y-6">
      <p>{kontakt.intro}</p>
      <div class="space-y-3 mt-8">
        <p>
          <span class="text-stone-400 text-sm uppercase tracking-widest">Email</span><br/>
          <a href={`mailto:${kontakt.email}`} class="text-stone-800 hover:text-stone-600 transition-colors">
            {kontakt.email}
          </a>
        </p>
        <p>
          <span class="text-stone-400 text-sm uppercase tracking-widest">LinkedIn</span><br/>
          <a 
            href={kontakt.linkedin}
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-800 hover:text-stone-600 transition-colors"
          >
            {kontakt.linkedintxt}
          </a>
        </p>
      </div>
    </div>
  </section>
</Layout>
